body{
    font-family: ﻿Roboto-Black, sans-serif;
}
.navigation{
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #16a085;
    width: 50%;
    margin: 35px auto;
}
.navigation-link:visited{
    color: #16a085}
.navigation-link{
    text-decoration: none;
    align-content: center;
}
.photoapp-position{
    margin-left: 5%;
}
.design-position{
    margin-left: 5%;
}
.download-position{
    margin-left: 5%;
}
.background{
    width: 100%;
}
.content{
    text-align:center;
    width: 100%;
    margin: 0 auto;
    background-color: #f5f6f7;
    padding-top: 56px;
}
.heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 34px;
}
.paragraph{
    font-size: 16px;
    width: 80%;
    margin: 0 auto 34px;
    display: block;
}
.button{
    width: 192px;
    height: 51px;
    border: none;
    border-radius: 3px;
    background-color: #16a085;
    font-family: ﻿GothamRounded-Bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-bottom: 105px;}
.footer{
    text-align: right;
    display: block;
    width: 80%;
    margin: 47px auto 47px;
}